.adhere {
background: #695858;
height: 150px;
width: 180px;
color: white;
font-weight: bold;
float: left;
margin: 10px 0 0 0px;
text-align: center;
padding-top: 90px;
font-family: Arial, Helvetica, sans-serif;
}
.adspace {
background: #695858;
height: 300px;
width: 180px;
color: white;
font-weight: bold;
float: left;
margin: 0px 0 0 10px;
text-align: center;
padding-top: 150px;
}
.content_area h3 {
color: #0098DB;
margin-top: -10px;
font-family: 'Arial Black';
display: block;
font-size: 18px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.content_area p {
font-family: Arial, Helvetica, sans-serif;
line-height: 20px;
font-size: 14px;
color: #707070;
display: block;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.content_area a {
color: #0098DB;
text-decoration: none;
cursor: auto;
}
#cms_container {
margin: 0px;
background: #F2F2F2;
}
.cms_main{
background-color:white;
width: 1028px;
margin: 0 auto;
}
#cms_left{
width: 180px;
float: left;
margin: 0 0 0 15px;
}