<p>Hello!</p>

<p>Bellow gripes has been flagged:</p>

<p><%= link_to "Flagged Gripe", "http://gripebox.com/admin/gripes/#{@gripe.id}" %></p>

<p>Please check it and do the needful.</p>

<p>Regards,</p>

<p>Gripebox</p>