<p>Hello!</p><br/>

<p>Bellow gripes has been flagged:</p><br/>

<p><%= link_to "Flagged Gripe", "http://gripebox.com/admin/gripes/#{@gripe.id}" %></p><br/>

<p>Please check it and do the needful.</p><br/>

<p>Regards,</p><br/>

<p>Gripebox</p>