<p>We're sorry, but due to either a Copyright/Trademark or Terms and Conditions violation, your Gripe "<%= @gripe.title %>" was deleted.  Please visit our Terms and Conditions to prevent this type of violation from happening again.</p><br/>

<p>We try our best to keep the integrity of your material no matter how controversial, unfortunately, sometimes we have no other options legally but to delete the material.</p><br/>

<p>For further information about your violation, please feel free to contact us via email and put the title of your deleted Gripe in the subject.</p><br/>

<p>Sincerely,</p><br/>

<p>The Gripebox Crew</p>