<body style="font-family: Arial,Helvetica,sans-serif;height: 100%;margin: 0;">
	<div style="background: none repeat scroll 0 0 #FFFFFF;width: 100%">
		<div stlyle="margin: auto;width: 1000px;">
			<div style="background: url("http://gripebox.com/assets/bg_header.jpg") repeat-x scroll 0 0 transparent;border-radius: 10px 10px 10px 10px;height: 72px;margin: 10px auto auto;width: 980px;">
				<div style="float: left;margin: 0 100px 0 70px;"><img alt="Gripe Box" src="http://gripebox.com/assets/logo.png"></div>
				<img style="float: right;margin: 0 40px 0 0;" src="http://gripebox.com/assets/hide_face.png">
			</div>
			<h1>Hi, <%= @user.username %></h1>
			<p style="color: #4D4D4D;font-weight: 500;">
				We're sorry, but due to either a Copyright/Trademark or Terms and Conditions violation;<br/><br/>				
				your Gripe <span style="color: #4D4D4D;font-weight: bold;">"<%= @gripe.title %>"</span> was <span style="color: #4D4D4D;font-weight: bold;">Deleted.</span><br/><br/>
				Please visit our <a style="color: #68BEDE;font-weight: bold;text-decoration: underline;" href="http://gripebox.com/pages/terms-of-service" title="Terms and conditions">Terms and conditions</a> to prevent this type of violation from happening again.<br/><br/>
				We try our best to keep the integrity of your material no matter how controversial, unfortunately, sometimes we have no other options legally but to delete the material.<br/><br/>
				For further information regarding your violation, feel free to <a href="http://gripebox.com/pages/contact-us" title="Contact Us" style="color: #68BEDE;font-weight: bold; text-decoration: underline;">Contact Us</a>. Make sure to include the title of your deleted Gripe in the subject field. 
			</p>
			<div style="color: #999999;font-size: 12px;">
				<h3 style="border-bottom: 1px solid #CCCCCC;font-size: 14px;height: 25px;margin-top: 40px;">
					<i style="font-size: 14px;">-The Gripebox crew</i>
				</h3>
				<p style="color: #999999;font-size: 12px;">
					If you received this message in error and did not sign up for a Gripebox account, click <a title="not my account" href="#" style="color: #68BEDE;font-weight: bold; text-decoration: underline;font-size: 12px;">not my account.</a><br/><br/>
					Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related<br/>
					to your use of Gripebox.  For general inquiries or to request support with your Gripebox account, please visit us at 
					<a title="Gripebox Support" href="http://gripebox.com/pages/contact-us" style="color: #68BEDE;font-weight: bold; text-decoration: underline;font-size: 12px;">Gripebox Support</a>
				</p>
			</div>
    </div>
	</div>
</body>