- if @image.present?
	- unless @image.source.present?
		= @image.image(:thumb)
	- else
		= image_path('/system/sources/' + @image.id.to_s + '/original/' + @image.id.to_s + '.jpg?' + Digest::MD5.hexdigest(Time.now.to_s).to_s)