.main.alerts {
  position: relative;
  z-index: 6;
}
.main.alerts.cl {
  visibility:hidden;
}
.alert-message {
  height: auto; 
  width: 411px;
  background: #68bede url(/assets/ico/ico-alerts-msg.png) no-repeat 25px 6px;
  padding:0 0 0 115px; font-size: 14px; display: block; position:absolute;
  left: 195px; top: -5px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 3px 3px -1px #074361 inset;
  -moz-box-shadow: 0 3px 3px -1px #074361 inset;
  box-shadow: 0 3px 3px -1px #074361 inset;}

.alert-message p {
  color:#fff; font-size: 14px; padding:10px 45px 10px 0; line-height: 20px;
}

.alert-message .close {
  position: absolute; right:10px; top:8px; color: #fff; font-size: 20px; text-decoration: none; font-weight: bold;
  background: #2e8fbc; width: 24px; height:24px; display: block; line-height: 24px; text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.alert-message .close:active{
}