<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Gripes! Something went wrong</title>
		<link href="/assets/stylesheets/error_pages.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<content>
			<div id="maindiv">
				<div id="textword">
					<img src="/assets/404-image/text.png" alt="txt">
				</div>
				<div id="guy">
					<img src="/assets/404-image/guy.png" alt="Guy">
				</div>
			</div>
		</content>
	</body>
</html>