#footer 
  .main
    = render :partial => "application/search_form"  
    %div{ :class => "copyright" }
      copyright © 2011, GripeBox.com, LLC. all rights reserved
    %ul{ :class => "footer-menu" }
      = footer_menu
    .clear