#header
  .main
    .logo
      %a{ :href => root_path }
    = render :partial => "application/search_form"
    = render :partial => "widget_griper_result"
    = render :partial => "application/widget_social_sign_in" 
    .clear   

