%h2 Buzz.
= render :partial => "application/widget_top10_griped"
/= render :partial => "application/widget_poll_box"

// for home

.adhere
  =raw page_ads_one
.adhere
  =raw page_ads_two
.adhere
  =raw page_ads_three
