%h2 Buzz.
= render :partial => "application/widget_top10_griped"
/= render :partial => "application/widget_poll_box"

// for home

- if params[:controller] == "home"
  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#a772368d{:frameborder => "0", :height => "230", :name => "a772368d", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248285&cb=INSERT_RANDOM_NUMBER_HERE", :width => "200"}
    %a{:href => "http://d1.openx.org/ck.php?n=acc8caed&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248285&cb=INSERT_RANDOM_NUMBER_HERE&n=acc8caed"}/

  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#ad591ac6{:frameborder => "0", :height => "230", :name => "ad591ac6", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248286&cb=INSERT_RANDOM_NUMBER_HERE", :width => "200"}
    %a{:href => "http://d1.openx.org/ck.php?n=ac8c81ba&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248286&cb=INSERT_RANDOM_NUMBER_HERE&n=ac8c81ba"}/

  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#aa99ec17{:frameborder => "0", :height => "600", :name => "aa99ec17", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248832&cb=INSERT_RANDOM_NUMBER_HERE", :width => "160"}
    %a{:href => "http://d1.openx.org/ck.php?n=aa1a4e73&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248832&cb=INSERT_RANDOM_NUMBER_HERE&n=aa1a4e73"}/


  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#a16669fa{:frameborder => "0", :height => "150", :name => "a16669fa", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248288&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
    %a{:href => "http://d1.openx.org/ck.php?n=aad7f8f3&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248288&cb=INSERT_RANDOM_NUMBER_HERE&n=aad7f8f3"}/

  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#a62ecbf7{:frameborder => "0", :height => "150", :name => "a62ecbf7", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248289&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
    %a{:href => "http://d1.openx.org/ck.php?n=a50dcc47&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248289&cb=INSERT_RANDOM_NUMBER_HERE&n=a50dcc47"}/


  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#ac9afe5f{:frameborder => "0", :height => "150", :name => "ac9afe5f", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248297&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
    %a{:href => "http://d1.openx.org/ck.php?n=ae0ed237&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248297&cb=INSERT_RANDOM_NUMBER_HERE&n=ae0ed237"}/



//sub mygripes notif

- if params[:controller] == "notifications" || params[:controller] == "subscriptions"

  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#aa24c750{:frameborder => "0", :height => "150", :name => "aa24c750", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248317&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
    %a{:href => "http://d1.openx.org/ck.php?n=a3881e21&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248317&cb=INSERT_RANDOM_NUMBER_HERE&n=a3881e21"}/


  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#ae4526b7{:frameborder => "0", :height => "150", :name => "ae4526b7", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248315&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
    %a{:href => "http://d1.openx.org/ck.php?n=ac68c0dd&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248315&cb=INSERT_RANDOM_NUMBER_HERE&n=ac68c0dd"}/

  / /* OpenX iFrame Tag v2.8.6-rc2 */
  %iframe#ade2874b{:frameborder => "0", :height => "600", :name => "ade2874b", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248833&cb=INSERT_RANDOM_NUMBER_HERE", :width => "160"}
    %a{:href => "http://d1.openx.org/ck.php?n=aac77871&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248833&cb=INSERT_RANDOM_NUMBER_HERE&n=aac77871"}/




