= render :partial => "widget_gripe_btns"
- if user_signed_in?
  = render :partial => "widget_user_panel"  
/= render :partial => "widget_ad_space"

// for gripe

.adhere
  = page_ads_four
.clear
.adhere
  = page_ads_five
