.widget-gripe-btns
  %a{ :href => new_gripe_path, :class => "btn-gripe"} 
  %a{ :href => "/gripes/new?gripes=about", :class => "btn-about-gripebox"} Gripe about Gripebox!
  %a{ :href => gripes_path , :class => "btn-gripe-view-all"} view all gripes
