.widget-filter-tags.filter
  .box.gray
    .topic
      %h3 Tags
      .bl-clear clear x
      .clear
    
    .filter-tags-content
      %form{}
        .loupe
        %input{ :type => "text", :class => "tips", :default => "narrow search with tags..."}

      %ul
