.widget-block-share 
  .list-share   
    .addthis_toolbox.addthis_default_style.box.gray{ :"addthis:url" => gripe_url(gripe.id), :"addthis:title" => gripe.title, :"addthis:description" => gripe.title }
      %a.addthis_button_email
      %a.addthis_button_facebook
      %a.addthis_button_twitter
      %a.addthis_button_google_plusone
      %a.addthis_button_compact
      /     //%a.addthis_counter.addthis_bubble_style
      .share share

  .box.gray share



