.widget-filter-power.filter
  .box.gray
    .topic
      %h3 Power
      .bl-clear clear x
      .clear
    
    .filter-power-content
      .weak-content-btn
        .weak
        %span weak
      .strong-content-btn
        .strong
        %span strong
      .clear  
        
  