.widget-ad-space
  %iframe#aa823500{:frameborder => "0", :height => "300", :name => "aa823500", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=235112&cb=INSERT_RANDOM_NUMBER_HERE", :width => "200"}
    %a{:href => "http://d1.openx.org/ck.php?n=aa50050b&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=235112&cb=INSERT_RANDOM_NUMBER_HERE&n=aa50050b"}/
.widget-ad-space
  %iframe#aa823500{:frameborder => "0", :height => "300", :name => "aa823500", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=235112&cb=INSERT_RANDOM_NUMBER_HERE", :width => "200"}
    %a{:href => "http://d1.openx.org/ck.php?n=aa50050b&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=235112&cb=INSERT_RANDOM_NUMBER_HERE&n=aa50050b"}/